@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap');
*
{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex ;
  justify-content: flex-start;
  align-items:auto;
  padding:100px;
}

section .logo
{ 
  
  position: relative;
  left: 10px;
  cursor: pointer;
    float: left;
    width: 50px;
    height: auto;
    top: -60px;
    z-index: 2;

}

.bgrally
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;

}
.carrally
{
  position: absolute;
  align-items: center;
  left: 2%;
  bottom: -200px;
  transform: translateX(-50%);
  width: 500px;
  padding: 0;
  bottom: 20%;
  z-index: 2;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-duration: 17s;
  animation-timing-function:ease-in-out;
  margin-left: 0px;
  margin-top:0px;

}
@keyframes floating
  {
    0% {transform:translate3d(0px, 0px, 0px);
         transform: scale(0.25);}
    50% {transform:translate3d(320px, 400px, 0px);
        }
    100% {transform:translate3d(0px, 00px, 0px);
          transform: scale(0.25);}
  }
  
.rallytext
{
  position: absolute;
  align-items: center;
  left: 50%;
  max-width: 300px;
  transform: translateX(-50%);
  top: 20%;
  z-index: 1;

}

.logo img
{
  position: absolute;
  top: -39px;
  left: -113px;
  float: left;
    width: 70px;
    height: auto;
    
}

::-webkit-scrollbar
{
    width: 20px;
}
::-webkit-scrollbar-track
{
    border: 5px solid #232943;
    box-shadow:  inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(45deg,#12661A,#2F4858 );
    border-radius: 5px;
}
.paragraf
{
    font-size: 22px;
    padding: 20px;
    z-index: 2;
}

