*{
    margin: 0;
    padding: 0;
    font-family: Yu Gothic Ui;
}

header{
      background-image: url(images/1.jpg);
    height: 100%;
    width: 100%;
      background-size: cover;
      background-position: center;
    } 
body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
} 
a{
    position: relative;
    display: inline-block;
    padding:12px 36px;
    margin:10px 0;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#F0105E,#D34C0E );

 }
 .rally1{
    position: relative;
    display: inline-block;
    padding:12px 36px;
    margin:10px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#12661A,#2F4858 )

 }
.drift1{
   position: relative;
   display: inline-block;
   padding:12px 36px;
   margin:10px 0;
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 2px;
   border-radius: 40px;
   overflow: hidden;
   background: linear-gradient(90deg,#000000,#677381 )

}
.F11{
    position: relative;
    display: inline-block;
    padding:12px 36px;
    margin:10px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#ff0000,#ffffff )
 
 }
span
{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation:animate 1s linear infinite;
}
@keyframes animate
{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
       width:500px;
       height:500px;
       opacity: 0;
    }
}
.logo img{
    float: left;
    width: 70px;
    height: auto;
}
.logo1
{
  background:transparent;

}
.paragraf
{
    font-size: 22px;
    padding: 20px;
}
::-webkit-scrollbar
{
    width: 20px;
}
::-webkit-scrollbar-track
{
    border: 5px solid #232943;
    box-shadow:  inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(45deg, #F0105E, #D34C0E );
    border-radius: 5px;
}
